h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body {
    background-color: #242424;
}

a {
    text-decoration: none;
    color: white;
}

.bg-dark {
    background-color: #272B3D !important;
    border-radius: 10px;
}

.bg-black {
    background-color: #333751 !important;
    border-radius: 5px;
}

.upper_header {
    background-color: #282A3D;
    padding: 20px 0;
}

.btc_btn {
    background-color: #3A3A3A;
    border: 2px solid #4E4E4E;
    padding: 10px 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
    font-weight: 700;
}

.btc_btn span:first-child {
    color: #6884A9;
}

.stage_inner {
    border-radius: 8px;
    border: 2px solid var(--border-divider-border-secondary, #2F344C);
    background: var(--surface-surface-secondary-02, #272A3E);
    padding: 35px 26px 35px 60px;
    position: relative;
    /* width: 356px; */
    z-index: -9999;
    box-shadow: -3px 3px 5px 0px rgba(15, 15, 15, 0.10);
    -webkit-box-shadow: -3px 3px 5px 0px rgba(15, 15, 15, 0.10);
    -moz-box-shadow: -3px 3px 5px 0px rgba(15, 15, 15, 0.10);
}

.stage_inner span {
    color: var(--color-brand-blue-crayola, #3772FF);
    text-align: right;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: 'Sora', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    transform: rotate(-90deg);
    position: absolute;
    left: -9px;
    top: 19%;
}

.stage_inner p {
    color: var(--text-text-primary-02, #E6E8EC);
    font-family: var(--poppins);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.ethplorer-widget.theme-ethplorer {
    background-color: white !important;
}

footer {
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}